.header{
    text-align: center;
    background-color: #CCCCCC;
}

.apartado{
    border: 2px solid white;
    background-color: mediumturquoise;
    padding: 10px;
}

li{
    font-family: "Palatino Linotype";
    list-style: square ;
    margin-left: 12px;
}

h3{
    font-family: "Times New Roman","Arial";
    font-size: 24px;
    line-height: 1px;
    color: white;
}

h4{
    font-family: "Courier New";
    margin-left: 9px;
    font-size: 15px;
}

p{
    font-family: "Palatino Linotype";
    margin-left: 9px;
}